<!-- views/partials/footer.ejs -->

<div class="row pt-3 pb-5">
  <div class="col">
   <footer class="footer text-muted">&copy; Copyright 2023 Entertainment Videogames International
   </footer>
  </div>
</div>
