<%- include('partials/head'); %>

<%- include('partials/header'); %>

<main>
  <div class="jumbotron">
    <h1>Games by E.V.I.</h1>
    <h2 class="ms-3 bg-dark text-white">Song Dash</h2>
    <h3 class="ms-5">Released, 2 copies sold</h3>
    <h2 class="ms-3 bg-dark text-white">Mistery Lane</h2>
    <h3 class="ms-5">On hold</h3>
    <h2 class="ms-3 bg-dark text-white">Spring Rain</h2>
    <h3 class="ms-5">Abandoned in late development, possibly haunted</h3>
    <h2 class="ms-3 bg-dark text-white">Last Memories</h2>
    <h3 class="ms-5">Abandoned in early development, possibly haunted</h3>
    <h2 class="ms-1 bg-dark text-white">Future games to be added</h2>
  </div>
</main>

<%- include('partials/footer'); %>
  
</div>
</body>
</html>
