<%- include('partials/head'); %>

<%- include('partials/header'); %>

<main>
  <div class="jumbotron">
    <h1>How to recover a cartridge</h1>
    <p class="ms-3 bg-dark text-white">Games made by E.V.I. seem to, sooner or later, become unplayable due to cartridge decay but there is a simple way to recover most of the data stored a cartridge, and that is by using the sequence "0213021302134567" while the game is running but some data may be corrupted doing this</p>
  </div>
</main>

<%- include('partials/footer'); %>
  
</div>
</body>
</html>
